<title>Kundenbewertungen</title>
<div id="app" class="container">
  <h1>Kundenbewertung abgeben</h1>

  <form @submit.prevent="submitReview">
    <label for="name">Name: {{ name }}</label>
    <input type="text" id="name" v-model="name">

    <label for="rating">Bewertung:</label>
    <div class="stars">
      <span @click="setRating(1)" :class="{ 'star-filled': rating >= 1 }"></span>
      <span @click="setRating(2)" :class="{ 'star-filled': rating >= 2 }"></span>
      <span @click="setRating(3)" :class="{ 'star-filled': rating >= 3 }"></span>
      <span @click="setRating(4)" :class="{ 'star-filled': rating >= 4 }"></span>
      <span @click="setRating(5)" :class="{ 'star-filled': rating >= 5 }"></span>
    </div><br>

    <label for="comment">Kommentar:</label><br>
    <textarea id="comment" v-model="comment"></textarea><br>

    <button type="submit" class="btn btn-primary">Bewertung abgeben</button>
  </form>

  <h2>Bewertungen:</h2>
  <ul>
    <% bewertungen.forEach(function(bewertung) { %>
      <li>
        <p>{{ bewertung.name }}</p>
        <p>{{ bewertung.comment }}</p>
        <p>{{ bewertung.rating }}/5 Sterne</p>
      </li>
    <% }); %>
  </ul>
</div>

<script src="https://unpkg.com/vue@3.3.1"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        name: '',
        rating: 0,
        comment: '',
        reviews: JSON.parse(localStorage.getItem('reviews')) || [],
      }
    },
    mounted() {
      const urlParams = new URLSearchParams(window.location.search);
      this.name = urlParams.get('name') || '';
    },
    methods: {
      setRating(rating) {
        this.rating = rating;
      },
      submitReview() {
        const newReview = {
          name: this.name,
          comment: this.comment,
          rating: this.rating,
        };

        // Sende die Bewertung an den Server
        fetch('/bewertung/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(newReview),
        })
          .then(response => {
            if (response.ok) {
              // Bewertung erfolgreich hinzugefügt
              this.reviews.push(newReview);
              localStorage.setItem('reviews', JSON.stringify(this.reviews));

              this.name = '';
              this.comment = '';
              this.rating = 0;
            } else {
              // Fehler beim Hinzufügen der Bewertung
              console.error('Fehler beim Hinzufügen der Bewertung');
            }
          })
          .catch(error => {
            // Fehler beim Server-Request
            console.error(error);
          });
      },
    },
  });
  app.mount('#app');
</script>
