<div class="container">
  <div id="app"></div>

</div>


  <script type="module">
        import appointment from './vue/Bewertungen.js'
        const { createApp } = Vue
        createApp(appointment).mount("#app")
    </script>

