<div class="container">
  <h1>Termin Buchen</h1>
  <div id="app"></div>
  <appointment :date="date"></appointment>
</div>


  <script type="module">
        import appointment from './vue/AppointmentView.js'
        const { createApp } = Vue
        createApp(appointment).mount("#app")
    </script>

