<link rel="stylesheet" href="/styles/formular.css">
<div class="image-wrapper">
    <img src="images/kleinesBild.jpg" width="100%" alt="Bild Schneider">
</div>

<div class="main-container">
    <form action="/kunden" method="POST">
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="lastname">Nachname:</label>
        <input type="text" id="lastname" name="lastname" required>
    
        <label for="firstname">Name:</label>
        <input type="text" id="firstname" name="firstname" required>
    
        <label for="phone">Telefon:</label>
        <input type="tel" id="phone" name="phone">
    
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>
    
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required>
    
        <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </form>

</div>

  