* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}


h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

nav ul li {
	margin-left: 20px;
}

nav ul li:first-child {
	margin-left: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h2 {
	margin-bottom: 10px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type="text"], form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form button[type="submit"] {
	display: block;
	padding: 10px;
	background-color: #c18c02;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button[type="submit"]:hover {
	background-color: #c18c02;
}

ul#bewertungen {
	list-style: none;
}

ul#bewertungen li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc
