*{
  font-family: 'Libre Franklin', sans-serif;
}
section .button {
text-align: right;
}

.main-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.item-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-content .col-md-6 {
  padding: 10px;
  display: flex;
  align-items: center;
}

.item-content button {
  margin-left: auto;
}

section {
  padding: 20px 0;
}

section h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

section div {
  font-size: 16px;
  line-height: 1.5;
}

.row{
display: flex;
align-items: center; /* vertikal zentrieren */
justify-content: center; /* horizontal zentrieren */
height: 100%;
}

.row p{
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 1rem;
}

#bildklein{
  width: 960px;
  margin: 0 auto;
  margin-left: 0;
  margin-right: 0;
    height: 300px;
    object-fit: cover;
    object-position: center;



}
.images{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

h2{
  line-height: 4em;
  font-weight:400;
  font-size: 35px; 
}

section p{
  line-height: 2em;
  font-weight: 400;
  color: #c18c02;
  letter-spacing: 1px;
}


h2{
  font-size: 48px; 
}

section p{
  font-size: 20px;
  font-weight: 500;
}


/* Styles für Bild */
.image-wrapper {
text-align: center;
margin-bottom: 20px;
}
.image-wrapper img {
max-width: 100%;
height: auto;
}

.bilder-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.bilder {
width: 100%;
max-width: 450px;
height: auto;
margin: 10px;
}

.bilder img {
width: calc(100% - 20px);;
max-height: auto;
height: 500px;
margin: 0 auto;
display: block;
margin-bottom: 20px;

}

/* Styles für Responsiveness */
@media only screen and (max-width: 450px) {
.bilder-container {
display: block;
}
.bilder {
width: 100%;
height: auto;

}
}

@media only screen and (min-width: 450px) {
.bilder-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}
.bilder {
width: calc(50% - 20px);
margin-bottom: 20px;
height: auto;
}
}

/*Formlar Kunden*/
main-container form {/* Formularcontainer */
  display: flex;
flex-wrap: wrap;
justify-content: left;
align-items: left;
max-width: 600px;
margin: 0 auto;
padding: 20px;
background-color: #f2f2f2;
border-radius: 10px;
}

/* Label- und Eingabefeld-Layout */
label {
display: block;
margin: 10px 0;
font-weight: bold;
text-align: left; /* Hinzufügen der Eigenschaft text-align */
}

input {
display: block;
width: 100%;
padding: 10px;
border-radius: 5px;
border: none;
margin-bottom: 20px;
font-size: 16px;
box-sizing: border-box;
}  

/* Senden-Button-Layout */
input[type="submit"] {
background-color: #c18c02;
color: white;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #c18c02;
}

input[type="submit"]:active {
background-color: #c18c02;
transform: translateY(1px);
}

/* Responsive Media Queries */
@media screen and (max-width: 600px) {
form {
  max-width: 100%;
}
}

  

.zentral{
  margin-top: 2rem;
  text-align: center;
  opacity: 0.6;
}
.block {
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: transparent;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-main {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  justify-content: center;
}

.bilderklein {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
  align-items: center;
  margin-bottom: 5rem;
}

#bildklein {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .block {
    width: calc(33.33% - 20px);
    flex-grow: 1;
    margin-right: 20px;
  }


}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 550px;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay-content {
  color: #fff;
  text-align: center;
}
#map {
  height: 400px;
}


#app {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Libre Franklin', sans-serif;
}

#app h1 {
  font-size: 24px;
  font-weight: 300;
}

#app h4 {
  font-size: 18px;
  font-weight: 300;
}

#app p {
  font-size: 14px;
  font-weight: 300px;
}

#app form {
  margin-bottom: 20px;
}

#app label {
  font-weight: bold;
  font-size: 14px;
}

#app input[type="text"],
#app input[type="email"],
#app textarea {
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
}

#app button[type="submit"] {
  background-color: #c18c02;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: lighter;
}

#app button[type="submit"]:hover {
  background-color: #c18c02;
  cursor: pointer;
}

#app .fab.fa-facebook {
  font-size: 32px; /* Hier die gewünschte Größe angeben */
}
#app .fab.fa-instagram {
  font-size: 32px; /* Hier die gewünschte Größe angeben */
  margin-right: 2rem;
}