

<div class="container">
    <h2 class="mt-4">Willkommen in der Administrationsoberfläche</h2>
    <div class="card w-100 mt-4">
        <h4 class="card-header">
            Administrationsoberfläche
        </h4>
        <div class="card-body text-center container">
            <div class="row mt-4">
                <div class="mb-4 col-sm">
                    <a href="/kundendaten/" class="btn btn-primary">Kundendaten ändern</a>
                </div>
                <div class="mb-4 col-sm">
                 <a href="/pricelist/new" class="btn btn-primary">Preisliste hinzufügen</a>
                </div>
                <div class="mb-4 col-sm">
                    <a href="/category/new" class="btn btn-primary">Kategorien bearbeiten</a>
                </div>
                <div class="mb-4 col-sm">
                    <a href="/duy/new" class="btn btn-primary">Artikel hinzufügen</a>
                   </div>
            </div>
        </div>
    </div>
</div>