<body>
  <div class="container">
    <h1>Häufig gestellte Fragen</h1>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Frage 1: Kann ich auch ohne Termin vorbei kommen?
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Ja, wir sind von Montag bis Samstag von 9 bis 16 Uhr vor Ort und nehmen Aufträge entgegen.          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Frage 2: Wie lange dauert es bis ich meine gekürzte Hose abholen kann?
            </button>
          </h2>
        </div>
        
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Normalerweise kann eine gekürzte Hose nach zwei Tagen abgeholt werden. Sollte das zu lange dauern, kann die Hose gegen eine "Expressgebühr" von 5€ innerhalb von 2 Stunden abgeholt werden.          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Frage 3: Mein Pullover hat ein Loch. Kann ich Ihnen auch Fotos schicken?
            </button>
          </h2>
        </div>
        
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Nein, um das Ausmaß der Beschädigung einschätzen zu können, muss ich das Kleidungsstück genauer betrachten, und das ist leider nicht möglich mit einem Foto.          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

