<div class="gallery">
    <div class="gallery-item">
        <img src="/images/designs.jpg" alt="Image 1">
        <div class="overlay">
            <div class="overlay-content">
                <h3>Projekt Glam</h3>
                <p>Bei diesem Projekt handelt es sich um die Anfertigung maßgeschneiderter Kleider und Anzüge.</p>
                <p>Unser erfahrenes Schneider-Team hat sich um jedes Detail gekümmert, um exzellente Passformen und hochwertige Materialien zu gewährleisten. 
                    Die Kleider wurden sorgfältig auf die individuellen Maße und Vorlieben unserer Kunden zugeschnitten.</p>
            </div>
        </div>
    </div>
    <div class="gallery-item">
        <img src="/images/maschine.jpg" alt="Image 2">
        <div class="overlay">
            <div class="overlay-content">
                <h3>Projekt Wiederbelebung vergangener Schneiderkunst</h3>
                <p>Bei diesem Projekt drehte sich alles um die Schneiderkunst vergangener Tage.</p>
<p>Unsere Aufgabe bestand darin, eine alte Schneidermaschine zu restaurieren und wieder funktionsfähig zu machen. 
    Mit großer Sorgfalt und Fachwissen haben wir die Maschine gereinigt, repariert und alle notwendigen Anpassungen vorgenommen, um sicherzustellen, dass sie wieder einwandfrei arbeitet.</p>
            </div>
        </div>
    </div>
    <div class="gallery-item">
        <img src="/images/faser.jpg" alt="Image 3">
        <div class="overlay">
            <div class="overlay-content">
                <h3>Projekt Maßgeschneiderte Eleganz</h3>
                <p>Einzigartige Schneiderkunst für höchste Ansprüche</p>
    <p>Bei unserem Projekt "Faser und Faden" steht die kunstvolle Verarbeitung hochwertiger Materialien im Fokus. 
        Unsere erfahrenen Schneidermeister kreieren maßgeschneiderte Kleidungsstücke, bei denen jedes Detail mit größter Sorgfalt behandelt wird.</p>
    <p>Wir verwenden feinste Stoffe und kombinieren sie mit präzisen Nähtechniken, um exklusive Mode für unsere anspruchsvollen Kunden zu schaffen. 
        Jedes Kleidungsstück wird individuell angepasst und auf Ihre persönlichen Vorlieben und Maße abgestimmt.</p>
            </div>
        </div>
    </div>
    <!-- Weitere Galerie-Elemente hier einfügen -->
</div>