<div class="container">
  <h1>Preisliste</h1>

  <div class="preisdiv">
    <input type="text" id="searchInput" placeholder="Suche nach Stichwort">
    <select id="filterSelect">
      <option value="all">Alle</option>
      <option value="name">Name</option>
      <option value="description">Beschreibung</option>
    </select>

    <ul id="priceList">
      <% prices.forEach(function(pricelist) { %>
        <li class="card">
          <div class="priceContent">
            <h4><%= pricelist.name %></h4>
            <p class="price">Preis: <%= pricelist.price %> €</p>
            <p class="description">Beschreibung: <%= pricelist.description %></p>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Schneiderarbeiten</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Aufgabe</th>
            <th>KÜRZER</th>
            <th>ENGER</th>
            <th>WEITER</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HOSE</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>

          </tr>
          <tr>
            <td>HEMD</td>
            <td>+</td>
            <td>+</td>
            <td>–</td>
          </tr>
          <tr>
            <td>SAKKO</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
          </tr>
          <tr>
            <td>JACKE</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
          </tr>
          <tr>
            <td>JEANS</td>
            <td>+</td>
            <td>+</td>
            <td>+</td>
          </tr>
          <tr>
            <td>BLUSE</td>
            <td>+</td>
            <td>+</td>
            <td>–</td>
          </tr>
          <tr>
            <td>KLEID</td>
            <td>+</td>
            <td>+</td>
            <td>–</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    const searchInput = document.getElementById('searchInput');
    const filterSelect = document.getElementById('filterSelect');
    const cards = Array.from(document.getElementsByClassName('card'));

    searchInput.addEventListener('keyup', filterPrices);
    filterSelect.addEventListener('change', filterPrices);

    function filterPrices() {
      const searchTerm = searchInput.value.toLowerCase();
      const filter = filterSelect.value;

      cards.forEach(card => {
        const name = card.querySelector('h4').textContent.toLowerCase();
        const description = card.querySelector('.description').textContent.toLowerCase();
        // const category = card.querySelector('.category').textContent.toLowerCase(); // Stellen Sie sicher, dass die Variable "category" definiert ist

        let displayCard = true;

        if (filter === 'name') {
          displayCard = name.includes(searchTerm);
        } else if (filter === 'description') {
          displayCard = description.includes(searchTerm);
        } else if (filter === 'all') {
          displayCard = name.includes(searchTerm) || description.includes(searchTerm);
        }

        card.style.display = displayCard ? 'block' : 'none';
      });
    }
  });
</script>
