<img src="images/webseite.jpg" width="100%" alt="Bild Start">
<h1>Bodensee Schneiderei</h1>
<div>
    <div class="main-container">
        <div class="item-content">
            <section>
                <h2>Herzlich Willkommen</h2>
                Sind Sie auf der Suche nach einer kompetenten und fachgerechten Änderungsschneiderei in Konstanz, die Ihr Kleidungsstück wieder in Form bringt? Dann sind Sie bei mir genau richtig!

                Egal, ob Sie eine zu eng gekaufte Hose haben, die zu weit gewordene Lieblingsjacke wieder passend machen möchten oder die Ärmel Ihrer Jacke gekürzt werden müssen - ich stehe Ihnen gerne mit meinem fachmännischen Know-how zur Seite.

                Besuchen Sie mich in meiner Änderungsschneiderei am Zähringerplatz 26 in Konstanz und lassen Sie sich vor Ort persönlich und individuell beraten. Hier können Sie sich auch über mein Leistungsangebot im Detail informieren.

                Als leidenschaftliche Schneiderin arbeite ich mit Freude an meinem Beruf und freue mich darauf, Sie in meiner Schneiderei begrüßen zu dürfen.
            </section>
            <section>
                <h2>Über uns</h2>
                <div>
                    Die Schneiderei in Konstanz besteht seit 1990 und wurde im Jahr 2006 unter dem Namen "Bodensee Schneiderei" von uns als Nachfolger übernommen. 
                    Wir stammen aus einer traditionellen Schneiderfamilie, deren Ursprünge bis zur Urgroßmutter zurückreichen, die Stoffe aus Schafwolle herstellte. 
                    Während die Mutter hochqualitative Pullover häkelte, konzentrierte sich der Vater auf die Herstellung und den Verkauf von Stoffen. Die Geschwister 
                    halfen dabei, wo sie konnten, und lernten so das Handwerk von Grund auf kennen. Seit meiner Kindheit bin ich mit dem Schneiderhandwerk verbunden und 
                    habe frühzeitig das Nähen gelernt.
                </div>
                <div class="button"><a class="green-button">Terimin buchen</a></div>
            </section>
        
        </div>
        <aside class="item-aside">
            <div class="zeiten">
                Öffnungszeiten:</BR>08 Uhr bis 17 Uhr (Dienstag Ruhetag)
            </div>
        </aside>
    </div>
</div>