<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Willkommen bei unserer Schneiderei!</h1>
    <p class="lead">Wir bieten hochwertige Schneiderdienstleistungen und maßgeschneiderte Kleidung für jeden Anlass.</p>
    <hr class="my-4">
    <p>Unser erfahrenes Team von Schneiderinnen und Schneidern steht Ihnen zur Verfügung, um Ihre individuellen Stilvorstellungen zu verwirklichen.</p>
    <a class="btn btn-primary btn-lg" href="/faq" role="button">Erfahren Sie mehr</a>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <img src="images/Anzug.jpg" alt="Schneiderei" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h3 class="text-primary">Maßgeschneiderte Kleidung für jeden Anlass</h3>
      <p class="text-left">Unsere Schneiderei bietet Ihnen eine breite Palette von maßgeschneiderten Kleidungsstücken, die perfekt auf Ihre Bedürfnisse zugeschnitten sind. Egal, ob Sie ein elegantes Abendkleid, einen maßgeschneiderten Anzug oder eine individuelle Änderung benötigen, wir kümmern uns um jedes Detail, um sicherzustellen, dass Ihr Kleidungsstück perfekt sitzt und Ihren persönlichen Stil widerspiegelt.</p>
    </div>    
  </div>
</div>
